In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Read the 2 files 
1) Temperature by country csv file
2) Global food prices csv file

In [7]:
global_temp = pd.read_csv('.\GlobalLandTemperaturesByCountry.csv')
global_temp.columns = ['full_date', 'avg_temp', 'avg_temp_uncty','country']

global_food_prices = pd.read_csv('.\wfp_market_food_prices.csv', sep=',', encoding='iso-8859-1')
global_food_prices.columns = ['country_id',	'country', 'locality_id', 'locality_name', 'mkt_id', 'mkt_name', 'commodity_purchase_id',
                              'commodity_purchased', 'currency_id', 'currency_name', 'mkt_type_id', 'mkt_type',
                              'measurement_id',	'measurement_unit',	'month', 'year', 'price_paid', 'commodity_source']

Print the no. of rows and columns 
Print the no. of unique values in each column

In [8]:
print("Global Temp df")
print(global_temp.info())
print(global_temp.shape)
print(global_temp.nunique())
print("="*60)
print("Global Food Prices df")
print(global_food_prices.info())
print(global_food_prices.shape)
print(global_food_prices.nunique())

Global Temp df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577462 entries, 0 to 577461
Data columns (total 4 columns):
full_date         577462 non-null object
avg_temp          544811 non-null float64
avg_temp_uncty    545550 non-null float64
country           577462 non-null object
dtypes: float64(2), object(2)
memory usage: 17.6+ MB
None
(577462, 4)
full_date          3239
avg_temp          76605
avg_temp_uncty     8979
country             243
dtype: int64
============================================================
Global Food Prices df
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 743914 entries, 0 to 743913
Data columns (total 18 columns):
country_id               743914 non-null int64
country                  743914 non-null object
locality_id              743914 non-null int64
locality_name            729965 non-null object
mkt_id                   743914 non-null int64
mkt_name                 743914 non-null object
commodity_purchase_id    743914 non-null int64
commodity_purchased      743914 non-null object
currency_id              743914 non-null int64
currency_name            743914 non-null object
mkt_type_id              743914 non-null int64
mkt_type                 743914 non-null object
measurement_id           743914 non-null int64
measurement_unit         743914 non-null object
month                    743914 non-null int64
year                     743914 non-null int64
price_paid               743914 non-null float64
commodity_source         743914 non-null object
dtypes: float64(1), int64(9), object(8)
memory usage: 102.2+ MB
None
(743914, 18)
country_id                   74
country                      74
locality_id                 605
locality_name               588
mkt_id                     1471
mkt_name                   1449
commodity_purchase_id       321
commodity_purchased         321
currency_id                  61
currency_name                61
mkt_type_id                   4
mkt_type                      4
measurement_id               62
measurement_unit             62
month                        12
year                         26
price_paid               113564
commodity_source            248
dtype: int64

Describe the columns in the file

In [9]:
print("Global Temp df")
print(global_temp.describe(include='all'))
print("="*60)
print("Global Food Prices df")
print(global_food_prices.describe(include='all'))

Global Temp df
         full_date       avg_temp  avg_temp_uncty  country
count       577462  544811.000000   545550.000000   577462
unique        3239            NaN             NaN      243
top     1961-02-01            NaN             NaN  Belgium
freq           243            NaN             NaN     3239
mean           NaN      17.193354        1.019057      NaN
std            NaN      10.953966        1.201930      NaN
min            NaN     -37.658000        0.052000      NaN
25%            NaN      10.025000        0.323000      NaN
50%            NaN      20.901000        0.571000      NaN
75%            NaN      25.814000        1.206000      NaN
max            NaN      38.842000       15.003000      NaN
============================================================
Global Food Prices df
           country_id country    locality_id        locality_name  \
count   743914.000000  743914  743914.000000               729965
unique            NaN      74            NaN                  588
top               NaN  Rwanda            NaN  $North/Amajyaruguru
freq              NaN  115037            NaN                28850
mean       929.754832     NaN   17779.426232                  NaN
std       6595.353806     NaN   81345.242217                  NaN
min          1.000000     NaN       0.000000                  NaN
25%        115.000000     NaN    1510.000000                  NaN
50%        170.000000     NaN    2207.000000                  NaN
75%        205.000000     NaN   21969.000000                  NaN
max      70001.000000     NaN  900022.000000                  NaN

               mkt_id          mkt_name  commodity_purchase_id  \
count   743914.000000            743914          743914.000000
unique            NaN              1449                    NaN
top               NaN  National Average                    NaN
freq              NaN             11904                    NaN
mean       885.962341               NaN             161.130914
std        540.492854               NaN             117.826297
min         80.000000               NaN              50.000000
25%        377.000000               NaN              67.000000
50%        912.000000               NaN             110.000000
75%       1134.000000               NaN             233.000000
max       2094.000000               NaN             490.000000

       commodity_purchased    currency_id currency_name    mkt_type_id  \
count               743914  743914.000000        743914  743914.000000
unique                 321            NaN            61            NaN
top                  Maize            NaN           RWF            NaN
freq                 36582            NaN        115037            NaN
mean                   NaN      57.325319           NaN      14.930508
std                    NaN      23.140366           NaN       0.277872
min                    NaN      22.000000           NaN      14.000000
25%                    NaN      30.000000           NaN      15.000000
50%                    NaN      63.000000           NaN      15.000000
75%                    NaN      77.000000           NaN      15.000000
max                    NaN      95.000000           NaN      18.000000

       mkt_type  measurement_id measurement_unit          month  \
count    743914   743914.000000           743914  743914.000000
unique        4             NaN               62            NaN
top      Retail             NaN               KG            NaN
freq     688878             NaN           562172            NaN
mean        NaN       10.562171              NaN       6.379772
std         NaN       13.160485              NaN       3.434972
min         NaN        5.000000              NaN       1.000000
25%         NaN        5.000000              NaN       3.000000
50%         NaN        5.000000              NaN       6.000000
75%         NaN        5.000000              NaN       9.000000
max         NaN      100.000000              NaN      12.000000

                 year    price_paid commodity_source
count   743914.000000  7.439140e+05           743914
unique            NaN           NaN              248
top               NaN           NaN          MINAGRI
freq              NaN           NaN           115037
mean      2012.516549  4.196333e+03              NaN
std          3.669519  5.549296e+04              NaN
min       1992.000000  0.000000e+00              NaN
25%       2011.000000  3.000000e+01              NaN
50%       2013.000000  1.750000e+02              NaN
75%       2015.000000  5.000000e+02              NaN
max       2017.000000  5.833333e+06              NaN

Check how many null values in each column

In [10]:
print("Global Temp df")
print(global_temp.isnull().sum())
print("="*60)
print("Global Food Prices df")
print(global_food_prices.isnull().sum())

Global Temp df
full_date             0
avg_temp          32651
avg_temp_uncty    31912
country               0
dtype: int64
============================================================
Global Food Prices df
country_id                   0
country                      0
locality_id                  0
locality_name            13949
mkt_id                       0
mkt_name                     0
commodity_purchase_id        0
commodity_purchased          0
currency_id                  0
currency_name                0
mkt_type_id                  0
mkt_type                     0
measurement_id               0
measurement_unit             0
month                        0
year                         0
price_paid                   0
commodity_source             0
dtype: int64